* { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
}

header {
  background-color: yellow;
}

header img {
  margin-left: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-top: 50px;
  display: inline-block;
  list-style: none;
  height: max-content;
}

a {
  text-decoration: none;
  padding: 24px;
  font-size: 24px;
  font-weight: bold;
}

img {
  width: 400px;
  height: 200px;
}

.home {
  margin: 50px;
}

.home h1 {
  margin-bottom: 20px;
}

.item {
  margin-bottom: 24px;
  border: 2px solid black;
  padding: 24px;
}

.item h2 {
  margin-bottom: 10px;
}

.form {
  width: 500px;
  height: 600px;
  margin: 40px auto;
  border: 2px solid black;
  padding: 4px;
  background-color: skyblue;
}

form input label{
  display: inline-block;
}

.biodata {
  width: 500px;
  height: 600px;
  margin: 40px auto;
  border: 3px solid red;
  padding: 4px;
}

.biodata div {
  margin: 16px;
}

.biodata div p, li{
  margin-bottom: 16px;
}